@use 'variables';

@font-face {
    font-family: 'Hiragino Mincho Pro';
    src: url( "../../../fonts/hiraginomincho.otf") format('otf'); /* medium */
    font-weight: normal;
    font-style: normal;
   }


.site-body{
    padding-top:0px;
}

h1.headLine{
    position:relative;
    color:variables.$main-color;
    margin-bottom:32px;
}

h1.headLine::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0px;/*線の上下位置*/
    display: inline-block;
    width: 120px;/*線の長さ*/
    height: 4px;/*線の太さ*/
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);/*位置調整*/
    background-color: variables.$sub-color;/*線の色*/
}

h2.headLine{
    border-top: none;
    border-bottom: none;
    position:relative;
    margin-top:80px!important;
    margin-bottom: 24px!important;
    padding-bottom:8px;
    color:variables.$main-color;
}

h2::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0px;/*線の上下位置*/
    display: inline-block;
    width: 120px;/*線の長さ*/
    height: 4px;/*線の太さ*/
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);/*位置調整*/
    background-color: variables.$sub-color;/*線の色*/
}

h3{
    display: inline-block;
    border-bottom: 2px solid variables.$sub-color;
    padding:0;
    color:variables.$main-color!important;
    margin-bottom:8px!important;
}

h3::after{
    border:none;
}

p{
    font-family: 'Hiragino Mincho Pro';
    font-size: 20px;
    color:variables.$main-color!important;
}

h3+p{
    margin-bottom: 32px;
}

.sp{
    display: none;
}

.downArrow{
    display: flex;
    justify-content: center;
}

.seeMore{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.seeMore>p{
    display: inline-block;
    border-bottom: 2px solid variables.$sub-color;
    margin: 0!important;
}

ol{
    font-family: 'Hiragino Mincho Pro';
}

@media screen and (max-width:767px){
    h1.headLine{
        font-size:28px!important;
    }
    h2{
        font-size: 24px!important;
    }

    .sp{ //スマホサイズでのみ実行されるCSS
        display:block;
    }
}
