@use 'variables';

@font-face {
    font-family: 'Hiragino Mincho Pro';
    src: url( "../../../fonts/hiraginomincho.otf") format('otf'); /* medium */
    font-weight: normal;
    font-style: normal;
   }


.site-body{
    padding-top:0px;
}

h1.headLine{
    position:relative;
    color:variables.$main-color;
    margin-bottom:32px;
}

h1.headLine::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0px;/*線の上下位置*/
    display: inline-block;
    width: 120px;/*線の長さ*/
    height: 4px;/*線の太さ*/
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);/*位置調整*/
    background-color: variables.$sub-color;/*線の色*/
}

h2.headLine{
    border-top: none;
    border-bottom: none;
    position:relative;
    margin-top:40px!important;
    margin-bottom: 24px!important;
    padding-bottom:8px;
    color:variables.$main-color;
}

h2::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0px;
    display: inline-block;
    width: 120px;
    height: 4px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: variables.$sub-color;
}

h3{
    display: inline-block;
    border-bottom: 2px solid variables.$sub-color;
    padding:0;
    color:variables.$main-color!important;
    margin-bottom:8px!important;
    font-size: 20px; 
}

h3::after{
    border:none;
}

p{
    font-family: 'Hiragino Mincho Pro';
    font-size: 16px;
    color:variables.$main-color!important;
}

h3+p{
    margin-bottom: 32px;
}

.sp{
    display: none;
}

.downArrow{
    display: flex;
    justify-content: center;
}

.seeMore>div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    a{
        font-family: 'Hiragino Mincho Pro';
        color:variables.$main-color;
    }
    a:hover{
        background-color: #fff!important;
    }
}

.wp-block-button.is-style-outline>.wp-block-button__link:hover {
    background-color: #fff !important;
    color:variables.$main-color!important;
}

.seeMore>div>a::before{
    background: variables.$sub-color;
    content: '';
    width: 70%;
    height: 2px;
    position: absolute;
    z-index: 10;
    left: 20px;
    bottom: 4px;
    margin: auto;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform .3s;
}

.seeMore>div>a:hover::before{
    transform-origin: left top;
    transform: scale(1, 1);
}

ol{
    font-family: 'Hiragino Mincho Pro';
}

.page_top_btn{
    bottom: 1%;
}

@media screen and (max-width:767px){
    h1.headLine{
        font-size:28px!important;
    }
    h2{
        font-size: 24px!important;
    }

    .sp{ //スマホサイズでのみ実行されるCSS
        display:block;
    }
}
