@charset "UTF-8";
@font-face {
  font-family: "Hiragino Mincho Pro";
  src: url("../../../fonts/hiraginomincho.otf") format("otf"); /* medium */
  font-weight: normal;
  font-style: normal;
}
.site-body {
  padding-top: 0px;
}

h1.headLine {
  position: relative;
  color: #00194A;
  margin-bottom: 32px;
}

h1.headLine::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px; /*線の上下位置*/
  display: inline-block;
  width: 120px; /*線の長さ*/
  height: 4px; /*線の太さ*/
  transform: translateX(-50%); /*位置調整*/
  background-color: #D4AF37; /*線の色*/
}

h2.headLine {
  border-top: none;
  border-bottom: none;
  position: relative;
  margin-top: 40px !important;
  margin-bottom: 24px !important;
  padding-bottom: 8px;
  color: #00194A;
}

h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px;
  display: inline-block;
  width: 120px;
  height: 4px;
  transform: translateX(-50%);
  background-color: #D4AF37;
}

h3 {
  display: inline-block;
  border-bottom: 2px solid #D4AF37;
  padding: 0;
  color: #00194A !important;
  margin-bottom: 8px !important;
  font-size: 20px;
}

h3::after {
  border: none;
}

p {
  font-family: "Hiragino Mincho Pro";
  font-size: 16px;
  color: #00194A !important;
}

h3 + p {
  margin-bottom: 32px;
}

.sp {
  display: none;
}

.downArrow {
  display: flex;
  justify-content: center;
}

.seeMore > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}
.seeMore > div a {
  font-family: "Hiragino Mincho Pro";
  color: #00194A;
}
.seeMore > div a:hover {
  background-color: #fff !important;
}

.wp-block-button.is-style-outline > .wp-block-button__link:hover {
  background-color: #fff !important;
  color: #00194A !important;
}

.seeMore > div > a::before {
  background: #D4AF37;
  content: "";
  width: 70%;
  height: 2px;
  position: absolute;
  z-index: 10;
  left: 20px;
  bottom: 4px;
  margin: auto;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}

.seeMore > div > a:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

ol {
  font-family: "Hiragino Mincho Pro";
}

.page_top_btn {
  bottom: 1%;
}

@media screen and (max-width: 767px) {
  h1.headLine {
    font-size: 28px !important;
  }
  h2 {
    font-size: 24px !important;
  }
  .sp {
    display: block;
  }
}
.firstView {
  height: 60vh;
}

.laborProblem figure, .laborProblemSpecial figure {
  margin-bottom: 24px;
}

.laborProblem figure, .laborProblemSpecial figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.misconceptions .individualMisconception > p:nth-child(1) {
  margin-bottom: 8px;
}

.CommonCases .ageGender {
  margin-bottom: 8px !important;
  border-bottom: 2px solid #D4AF37;
  display: inline-block;
  line-height: 2rem;
}

.consultationFlow .flow {
  max-width: 50% !important;
  position: relative;
}
.consultationFlow li {
  color: #00194A;
}

@media screen and (max-width: 768px) {
  .firstView h1 {
    font-size: 36px !important;
    line-height: 1.5rem;
  }
  .firstView p {
    line-height: 0.9rem;
  }
  .laborProblem p, .laborProblemSpecial p {
    font-size: 16px !important;
  }
  .individualMisconception p {
    font-size: 16px !important;
  }
  .consultationFlow .flow {
    max-width: 80% !important;
  }
}
h2.headLine.growProblem {
  margin-top: 24px !important;
  font-size: 32px !important;
}

.flowBlock .headLine {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 24px;
}
.flowBlock .headLine h3 {
  font-size: 28px;
}

h4 {
  background-color: #fff;
  color: #00194A;
  position: relative;
  margin-bottom: 0px !important;
  font-size: 20px;
}

h4::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0px; /*線の上下位置*/
  display: inline-block;
  width: 4px; /*線の太さ*/
  height: 30px; /*線の長さ*/
  transform: translateY(40%); /*位置調整*/
  background-color: #D4AF37; /*線の色*/
}

.flowBlockText {
  transform: translateX(16px);
}

.arrowWithNotResolve {
  position: relative;
}
.arrowWithNotResolve p {
  position: absolute;
  top: 8%;
  right: 34%;
}

.longArrow {
  background-image: url("http://iwamilaw2408.local/wp-content/uploads/2024/09/Vector2.png");
  width: 500px;
  height: 800px;
  position: absolute;
  z-index: 10;
}

.feeTable table {
  border: 1px solid #777777;
}
.feeTable thead {
  background-color: #00194A;
  color: #fff;
}
.feeTable tbody > tr:nth-child(1), .feeTable tr:nth-child(3) {
  background-color: #E3E3E3;
}
.feeTable tbody tr > td {
  color: #00194A;
}

@media screen and (max-width: 768px) {
  table tbody tr > td {
    font-size: 16px !important;
  }
  table thead tr > thjasdflkjsdflkjsadf {
    font-size: 16px !important;
  }
}
.contactSubText {
  margin-bottom: 16px !important;
}

.form table {
  margin-bottom: 16px;
}
.form table tr {
  height: 60px;
}
.form table tr th {
  width: 30%;
  background-color: #00194A;
  border: 2px solid #aaaaaa;
}
.form table tr th p {
  color: #fff !important;
}
.form table tr td {
  border: 2px solid #aaaaaa;
}
.form .submitBtn {
  display: flex;
  justify-content: center;
}
.form div.wpcf7 .wpcf7-spinner {
  display: none;
}
.form input.btn-block {
  width: 50%;
  background-color: #D4AF37;
  border: none;
  height: 60px;
}
.form .wpcf7-form-control-wrap {
  display: flex;
  justify-content: center;
}
.form .wpcf7-response-output {
  border: none !important;
  color: #dc3232;
}

@media screen and (max-width: 768px) {
  th {
    width: 40% !important;
  }
  th p {
    font-size: 12px;
  }
}
.name span {
  font-size: 20px;
}

.referralTable {
  color: #00194A;
  font-family: "Hiragino Mincho Pro";
}
.referralTable tr {
  border-left: 0px solid #fff;
  border-right: 0px solid #fff;
  border-top: 1px solid #00194A;
  border-bottom: 1px solid #00194A;
}
.referralTable tr > td:nth-child(1) {
  width: 15%;
  padding-left: 2%;
}

@media screen and (max-width: 768px) {
  .referralTable tr > td:nth-child(1) {
    width: 30%;
    padding-left: 4%;
  }
}
.main-section {
  width: 100%;
}

.newsRow {
  border-top: 1px solid #00194A;
  border-bottom: 1px solid #00194A;
  border-right: 0px solid #fff;
  border-left: 0px solid #fff;
  border-collapse: collapse;
  font-family: "Hiragino Mincho Pro";
  font-size: 16px;
  color: #00194A;
}
.newsRow .newsDate {
  width: 20%;
}
.newsRow .newsTitle > a {
  color: #00194A;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.nav-links {
  margin: initial !important;
}

.page-numbers {
  display: flex;
  align-items: center;
  border: none !important;
}
.page-numbers li {
  margin: 4px !important;
}

.page-numbers.current {
  border-radius: 4px;
}

.entry-title {
  color: #00194A;
}

.entry-meta-item-updated, .entry-meta-item-author, .fa-calendar-alt::before {
  display: none;
}

.published {
  color: #00194A;
  font-family: "Hiragino Mincho Pro";
}

.article {
  max-width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -moz-column-gap: 16px;
       column-gap: 16px;
  margin-top: 32px;
  padding: 0;
  border-bottom: 1px solid #494C53;
}
.article figure > img {
  width: 156px;
  height: 156px;
  background-color: #8f8f8f;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.article .articleText {
  width: 80%;
  position: relative;
}
.article .articleDate {
  font-family: sans-serif;
  font-size: 12px;
  color: #494C53 !important;
  margin-bottom: 4px;
  line-height: 1rem;
}
.article .articleTitle {
  font-size: 20px;
  margin-bottom: 0px !important;
}
.article .articleTitle > a {
  color: #00194A !important;
  text-decoration: none;
}
.article .articleSummary {
  font-size: 16px;
}
.article .articleCategory {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #D4AF37;
}
.article .articleCategory p {
  margin: 0;
}

.articleContents p {
  margin-bottom: 0px;
}

.site-header-container, .cta {
  flex-direction: column !important;
}
.site-header-container .headerUpper, .cta .headerUpper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 96px;
}
.site-header-container .site-header-logo, .cta .site-header-logo {
  margin: 0;
  padding: 0;
  width: auto;
  display: block;
}
.site-header-container .telForm, .cta .telForm {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.site-header-container .tel, .cta .tel {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.site-header-container .tel img, .cta .tel img {
  width: 33px;
  height: 33px;
}
.site-header-container .tel p, .cta .tel p {
  margin: 0;
  margin-left: 4px;
  font-size: 20px;
}
.site-header-container .form a, .cta .form a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.site-header-container .form a img, .cta .form a img {
  width: 33px;
  height: 33px;
}
.site-header-container .form a p, .cta .form a p {
  margin: 0;
  margin-left: 4px;
  font-size: 20px;
}

.global-nav {
  max-width: 100%;
  background-color: #00194A;
  display: flex !important;
  justify-content: center !important;
}
.global-nav ul {
  width: 80%;
  max-width: 1140px;
}
.global-nav ul a {
  color: white !important;
}
.global-nav .global-nav-list > li {
  width: 14%;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: center;
}

.page-header, .site-footer-content {
  display: none;
}

.site-footer-copyright > p:nth-child(2) {
  display: none;
}

@media screen and (max-width: 991px) {
  .site-header-container .telForm {
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
  .site-header-container .telForm .tel p, .site-header-container .telForm .form p {
    font-size: 16px;
  }
  .vk-mobile-nav-menu-btn {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .site-header-container .telForm {
    display: none;
  }
  .global-nav {
    display: none !important;
  }
  .global-nav ul {
    width: 95%;
  }
  .global-nav ul li {
    flex-shrink: 0;
  }
  .global-nav ul a > strong {
    font-size: 12px;
  }
  body .vk-mobile-nav-menu-btn {
    background-image: url("http://iwamilaw2408.local/wp-content/uploads/2024/09/hamburger.png");
    background-size: cover;
    background-position: center;
    width: 64px;
    height: 64px;
    display: block;
    position: absolute;
    top: 16px !important;
    left: 80%;
    border: none;
  }
  .vk-mobile-nav-menu-outer {
    transform: translateY(50px);
  }
  .vk-mobile-nav-menu-btn.menu-open {
    background-image: url("http://iwamilaw2408.local/wp-content/uploads/2024/09/close_btn.png");
    border: none;
  }
}
.site-footer {
  margin-bottom: 64px;
  background-color: #00194A;
}
.site-footer li > a, .site-footer .site-footer-copyright > p {
  color: #fff !important;
}
.site-footer ul {
  display: flex;
  justify-content: center;
}
.site-footer ul li {
  padding-left: 2%;
  padding-right: 2%;
}
.site-footer .site-footer-copyright {
  padding: 0;
}

.cta {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 64px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2); /* 影をつけて浮かせる */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.cta .form {
  background-color: #D4AF37;
  padding: 12px 6px;
  border-radius: 8px;
}
.cta .form a > p {
  color: #fff !important;
}

@media screen and (max-width: 767px) {
  .site-footer {
    padding-bottom: 16px;
  }
  .site-footer ul {
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
  }
  .site-footer ul li {
    height: 24px;
    line-height: 24px;
  }
  .site-footer ul li a {
    padding: 0;
  }
  .cta .tel p, .cta .form p {
    font-size: 12px !important;
  }
  .cta .form {
    padding: 8px 4px;
  }
}
.privacyList .case {
  margin-bottom: 32px;
}
.privacyList .case h2 {
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: #00194A;
}
.privacyList .case h2::after {
  content: none;
}
.privacyList .case ol li {
  color: #00194A;
}

@font-face {
  font-family: "Hiragino Mincho Pro";
  src: url("../../../fonts/hiraginomincho.otf") format("otf"); /* medium */
  font-weight: normal;
  font-style: normal;
}
.site-body {
  padding-top: 0px;
}

h1.headLine {
  position: relative;
  color: #00194A;
  margin-bottom: 32px;
}

h1.headLine::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px; /*線の上下位置*/
  display: inline-block;
  width: 120px; /*線の長さ*/
  height: 4px; /*線の太さ*/
  transform: translateX(-50%); /*位置調整*/
  background-color: #D4AF37; /*線の色*/
}

h2.headLine {
  border-top: none;
  border-bottom: none;
  position: relative;
  margin-top: 40px !important;
  margin-bottom: 24px !important;
  padding-bottom: 8px;
  color: #00194A;
}

h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px;
  display: inline-block;
  width: 120px;
  height: 4px;
  transform: translateX(-50%);
  background-color: #D4AF37;
}

h3 {
  display: inline-block;
  border-bottom: 2px solid #D4AF37;
  padding: 0;
  color: #00194A !important;
  margin-bottom: 8px !important;
  font-size: 20px;
}

h3::after {
  border: none;
}

p {
  font-family: "Hiragino Mincho Pro";
  font-size: 16px;
  color: #00194A !important;
}

h3 + p {
  margin-bottom: 32px;
}

.sp {
  display: none;
}

.downArrow {
  display: flex;
  justify-content: center;
}

.seeMore > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}
.seeMore > div a {
  font-family: "Hiragino Mincho Pro";
  color: #00194A;
}
.seeMore > div a:hover {
  background-color: #fff !important;
}

.wp-block-button.is-style-outline > .wp-block-button__link:hover {
  background-color: #fff !important;
  color: #00194A !important;
}

.seeMore > div > a::before {
  background: #D4AF37;
  content: "";
  width: 70%;
  height: 2px;
  position: absolute;
  z-index: 10;
  left: 20px;
  bottom: 4px;
  margin: auto;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}

.seeMore > div > a:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

ol {
  font-family: "Hiragino Mincho Pro";
}

.page_top_btn {
  bottom: 1%;
}

@media screen and (max-width: 767px) {
  h1.headLine {
    font-size: 28px !important;
  }
  h2 {
    font-size: 24px !important;
  }
  .sp {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */