@charset "UTF-8";
@font-face {
  font-family: "Hiragino Mincho Pro";
  src: url("../../../fonts/hiraginomincho.otf") format("otf"); /* medium */
  font-weight: normal;
  font-style: normal;
}
h1.headLine {
  position: relative;
  color: #00194A;
  margin-bottom: 32px;
}

h1.headLine::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px; /*線の上下位置*/
  display: inline-block;
  width: 120px; /*線の長さ*/
  height: 4px; /*線の太さ*/
  transform: translateX(-50%); /*位置調整*/
  background-color: #D4AF37; /*線の色*/
}

h2.headLine {
  border-top: none;
  border-bottom: none;
  position: relative;
  margin-top: 80px !important;
  margin-bottom: 24px !important;
  padding-bottom: 8px;
  color: #00194A;
}

h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px; /*線の上下位置*/
  display: inline-block;
  width: 120px; /*線の長さ*/
  height: 4px; /*線の太さ*/
  transform: translateX(-50%); /*位置調整*/
  background-color: #D4AF37; /*線の色*/
}

h3 {
  display: inline-block;
  border-bottom: 2px solid #D4AF37;
  padding: 0;
  color: #00194A !important;
  margin-bottom: 8px !important;
}

h3::after {
  border: none;
}

p {
  font-family: "Hiragino Mincho Pro";
  font-size: 20px;
  color: #00194A !important;
}

h3 + p {
  margin-bottom: 32px;
}

.sp {
  display: none;
}

.downArrow {
  display: flex;
  justify-content: center;
}

.seeMore {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.seeMore > p {
  display: inline-block;
  border-bottom: 2px solid #D4AF37;
  margin: 0 !important;
}

ol {
  font-family: "Hiragino Mincho Pro";
}

@media screen and (max-width: 767px) {
  h1.headLine {
    font-size: 28px !important;
  }
  h2 {
    font-size: 24px !important;
  }
  .sp {
    display: block;
  }
}
.firstView {
  height: 60vh;
}

.laborProblem figure, .laborProblemSpecial figure {
  margin-bottom: 24px;
}

.laborProblem figure, .laborProblemSpecial figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.misconceptions .individualMisconception > p:nth-child(1) {
  margin-bottom: 8px;
}

.CommonCases .ageGender {
  margin-bottom: 8px !important;
  border-bottom: 2px solid #D4AF37;
  display: inline-block;
  line-height: 2rem;
}

.consultationFlow .flow {
  max-width: 50% !important;
  position: relative;
}
.consultationFlow li {
  color: #00194A;
}

@media screen and (max-width: 768px) {
  .firstView h1 {
    font-size: 36px !important;
    line-height: 1.5rem;
  }
  .firstView p {
    line-height: 0.9rem;
  }
  .laborProblem p, .laborProblemSpecial p {
    font-size: 16px !important;
  }
  .individualMisconception p {
    font-size: 16px !important;
  }
}
h2.headLine.growProblem {
  margin-top: 24px !important;
}

.flowBlock .headLine {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 24px;
}

h4 {
  background-color: #fff;
  color: #00194A;
  position: relative;
  margin-bottom: 0px !important;
}

h4::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0px; /*線の上下位置*/
  display: inline-block;
  width: 4px; /*線の太さ*/
  height: 30px; /*線の長さ*/
  transform: translateY(40%); /*位置調整*/
  background-color: #D4AF37; /*線の色*/
}

.flowBlockText {
  transform: translateX(16px);
}

.feeTable table {
  border: 1px solid #777777;
}
.feeTable thead {
  background-color: #00194A;
  color: #fff;
}
.feeTable tbody > tr:nth-child(1), .feeTable tr:nth-child(3) {
  background-color: #E3E3E3;
}

.form .submitBtn {
  display: flex;
  justify-content: center;
}
.form div.wpcf7 .wpcf7-spinner {
  display: none;
}
.form input.btn-block {
  width: 50%;
}
.form .wpcf7-form-control-wrap {
  display: flex;
  justify-content: center;
}

.name span {
  font-size: 20px;
}

.referralTable {
  color: #00194A;
  font-family: "Hiragino Mincho Pro";
}
.referralTable tr {
  border-left: 0px solid #fff;
  border-right: 0px solid #fff;
  border-top: 1px solid #00194A;
  border-bottom: 1px solid #00194A;
}
.referralTable tr > td:nth-child(1) {
  width: 15%;
  padding-left: 2%;
}

@media screen and (max-width: 768px) {
  .referralTable tr > td:nth-child(1) {
    width: 30%;
    padding-left: 4%;
  }
}
@font-face {
  font-family: "Hiragino Mincho Pro";
  src: url("../../../fonts/hiraginomincho.otf") format("otf"); /* medium */
  font-weight: normal;
  font-style: normal;
}
h1.headLine {
  position: relative;
  color: #00194A;
  margin-bottom: 32px;
}

h1.headLine::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px; /*線の上下位置*/
  display: inline-block;
  width: 120px; /*線の長さ*/
  height: 4px; /*線の太さ*/
  transform: translateX(-50%); /*位置調整*/
  background-color: #D4AF37; /*線の色*/
}

h2.headLine {
  border-top: none;
  border-bottom: none;
  position: relative;
  margin-top: 80px !important;
  margin-bottom: 24px !important;
  padding-bottom: 8px;
  color: #00194A;
}

h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px; /*線の上下位置*/
  display: inline-block;
  width: 120px; /*線の長さ*/
  height: 4px; /*線の太さ*/
  transform: translateX(-50%); /*位置調整*/
  background-color: #D4AF37; /*線の色*/
}

h3 {
  display: inline-block;
  border-bottom: 2px solid #D4AF37;
  padding: 0;
  color: #00194A !important;
  margin-bottom: 8px !important;
}

h3::after {
  border: none;
}

p {
  font-family: "Hiragino Mincho Pro";
  font-size: 20px;
  color: #00194A !important;
}

h3 + p {
  margin-bottom: 32px;
}

.sp {
  display: none;
}

.downArrow {
  display: flex;
  justify-content: center;
}

.seeMore {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.seeMore > p {
  display: inline-block;
  border-bottom: 2px solid #D4AF37;
  margin: 0 !important;
}

ol {
  font-family: "Hiragino Mincho Pro";
}

@media screen and (max-width: 767px) {
  h1.headLine {
    font-size: 28px !important;
  }
  h2 {
    font-size: 24px !important;
  }
  .sp {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */