@use '../variables';

.entry-title{
    color:variables.$main-color;
}

h2.headLine.newsTitle{
    margin-bottom:40px!important;
}

.entry-meta-item-updated,.entry-meta-item-author,.fa-calendar-alt::before{
    display:none;
}

.flexpart{
    display: flex;
}

.main-section.main-section--col--two{
    flex:3;
}

.sub-section.sub-section--col--two{
    flex:1;
    margin-top: 120px;
}

.sub-section-title{
    font-family: 'Hiragino Mincho Pro';
    text-align: center;
    font-size: 20px;
    text-decoration: #D4AF37 underline 3px;
    border-bottom:none;
}

.sub-section-title::after{
    width:0;
}

.postList_body{
    display: flex;
    flex-direction: column-reverse;    
}

.postList_title.entry-title > a{
    color:variables.$main-color;
    font-family: 'Hiragino Mincho Pro';
    font-weight: bold;
    font-size: 16px;
}

.wp-block-heading.has-text-align-center.sub-section-title{
    border-top:none;
}

.post-excerpt{
    display: none;
}

.published{
    color:variables.$main-color;
    font-family: 'Hiragino Mincho Pro';
}

.published.postList_date.postList_meta_items{
    color:variables.$main-color;
    font-family: 'Hiragino Mincho Pro';
}

.wp-block-categories-list.wp-block-categories{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    li{
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        border-top:2px solid variables.$sub-color;
        border-left:2px solid variables.$sub-color;
        border-right:2px solid variables.$sub-color;
        height:40px;
        a{
            text-decoration: none;
            color:variables.$main-color;
            line-height: 40px;
        }
    }
}
  
#post_views_counter_list_widget-2 ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    .post-thumbnail>img{
        width:80px;
    }
    li:last-child{
        border-bottom:2px solid variables.$sub-color;
    }

}

.article{
    max-width:90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 16px;
    margin-top:32px;
    padding:0;
    border-bottom:1px solid #494C53;
    figure>img{
        width: 156px;
        height: 156px;
        background-color: #8f8f8f;
        max-width:fit-content;
    }
    .articleText{
        width:80%;
        position: relative;
    }
    .articleDate{
        font-family: sans-serif;
        font-size: 12px;
        color:#494C53!important;
        margin-bottom:4px;
        line-height: 1rem;
    }
    .articleTitle{
        font-size: 20px;
        margin-bottom: 0px!important;
    }
    .articleTitle>a{
        color: variables.$main-color!important;
        text-decoration: none;
    }
    .articleSummary{
        font-size: 16px;
    }
    .articleCategory{
        position: absolute;
        top:-24px;
        right:0;
        border: 1px solid variables.$sub-color;
        p{
            margin:0;
        }
    }
}

.articleContents{
    p{
        margin-bottom:0px;
    }
}