@use '../variables';

.flowBlock .headLine{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 24px;
}

h4{
    background-color: #fff;
    color: variables.$main-color;
    position: relative;
    margin-bottom: 0px!important;
}

h4::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0px;/*線の上下位置*/
    display: inline-block;
    width: 4px;/*線の太さ*/
    height: 30px;/*線の長さ*/
    -webkit-transform: translateY(-50%);
    transform: translateY(40%);/*位置調整*/
    background-color: variables.$sub-color;/*線の色*/
}

.flowBlockText{
    transform: translateX(16px);
}