@use '../variables';

.firstView{
    height:60vh;
}

.laborProblem,.laborProblemSpecial{
    figure{
        margin-bottom: 24px;
    }
}

.laborProblem,.laborProblemSpecial{
    figure{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.misconceptions{
    .individualMisconception>p:nth-child(1){
        margin-bottom: 8px;
    }
}

.CommonCases{
    .ageGender{
        margin-bottom: 8px!important;
        border-bottom: 2px solid #D4AF37;
        display: inline-block;
        line-height:2rem;
    }
}

.consultationFlow{
    .flow{
        max-width:50% !important;
        position:relative;
    }
    .downArrow{
        display: flex;
        justify-content: center;
    }
    li{
        color: variables.$main-color;
    }
}


@media screen and (max-width:768px) {
    .firstView{
        h1{
            font-size: 36px!important;
            line-height: 1.5rem;
        }
        p{
            line-height: 0.9rem;
        }
    }        

    .laborProblem,.laborProblemSpecial{
        p{
            font-size: 16px!important;
        }
    }
    .individualMisconception{
        p{
            font-size: 16px!important;
        }
    }

}


